/* changer la couleur de chaque section */
#solidBlue {
  background: #2474a9;
}
#solidViolet {
  background: #9a12b4;
}
#solidPink {
  background: #db0a5b;
}
ul {
  list-style-type: none;
  /* enlève les puces par défaut */
}
textarea {
  resize: none;
  /* empêche la possibilité de recadrage manuel de la textarea */
}
